/UD5/Programacion/nbproject/private/
/UD5/Netbeans/nbproject/private/
/UD5/Ejercicios/nbproject/private/
/UD5/Ejercicios/build/
/UD5/JavaApplication6/nbproject/private/
/UD5/JavaApplication6/build/
/UD5/JavaApplication7/nbproject/private/

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath
